@editor-toolbar: 60px;
@editor-left: 260px;
@editor-right: 260px;

.editor-container {
  height: 100%;
  width: 100%;
  &-top {
    height: @editor-toolbar;
  }
  &-main {
    height: calc(100% - @editor-toolbar);
    display: flex;
    &-left {
      height: 100%;
      width: @editor-left;
    }
    &-center {
      height: 100%;
      width: calc(100% - @editor-left - @editor-right);
    }
    &-right {
      height: 100%;
      width: @editor-right;
    }
  }
}
