.editor-container {
  height: 100%;
  width: 100%;
}
.editor-container-top {
  height: 60px;
}
.editor-container-main {
  height: calc(100% - 60px);
  display: flex;
}
.editor-container-main-left {
  height: 100%;
  width: 260px;
}
.editor-container-main-center {
  height: 100%;
  width: calc(100% - 260px - 260px);
}
.editor-container-main-right {
  height: 100%;
  width: 260px;
}
