.vertical-text {
  // writing-mode: vertical-rl;
  writing-mode: vertical-lr;
}
.left-tabs-content {
  height: 100%;
  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-tabs-tabpane {
      padding-left: 0;
    }
  }
  .component-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    .single-component {
      width: 180px;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      span {
        font-size: 14px;
        margin-top: 6px;
      }
      &-bg {
        width: 160px;
        height: 160px;
        background-size: 100% 100%;
      }
    }
  }
}
